Repository function-future/function-frontend, pull requests merged in 2019-10, with the labels that each got.

#164 Feature/login modal
  src/App.vue
  src/components/login/Login.vue
  src/components/login/js/login.js
  src/components/skeletons/js/nav-bar.js
  src/index.js
  tests/unit/specs/components/login/Login.spec.js
Labels: enhancement

#163 Feature/import buefy
  package.json
  src/App.vue
  src/assets/css/bulma.scss
  src/assets/css/main.scss
  src/components/BaseTitle.vue
  src/components/breadcrumbs/Breadcrumbs.vue
  src/components/login/Login.vue
  src/components/login/js/login.js
  src/components/skeletons/MenuBar.vue
  src/components/skeletons/NavBar.vue
  src/components/skeletons/js/menu-bar.js
  src/components/skeletons/js/nav-bar.js
  src/index.js
  src/main.js
  src/router/index.js
  tests/unit/specs/components/login/Login.spec.js
  tests/unit/specs/components/skeletons/MenuBar.spec.js
  tests/unit/specs/components/skeletons/NavBar.spec.js
Labels: enhancement

#165 Release/2019 10 07
  package.json
  src/App.vue
  src/assets/css/bulma.scss
  src/assets/css/main.scss
  src/components/BaseTitle.vue
  src/components/breadcrumbs/Breadcrumbs.vue
  src/components/login/Login.vue
  src/components/login/js/login.js
  src/components/skeletons/MenuBar.vue
  src/components/skeletons/NavBar.vue
  src/components/skeletons/js/menu-bar.js
  src/components/skeletons/js/nav-bar.js
  src/index.js
  src/main.js
  src/router/index.js
  tests/unit/specs/components/login/Login.spec.js
  tests/unit/specs/components/skeletons/MenuBar.spec.js
  tests/unit/specs/components/skeletons/NavBar.spec.js
Labels: enhancement, unit-test

#166 Feature/responsive navbar
  public/index.html
  src/App.vue
  src/components/skeletons/BottomNavBar.vue
  src/components/skeletons/js/bottom-nav-bar.js
  src/index.js
  tests/unit/specs/components/skeletons/BottomNavBar.spec.js
  tests/unit/specs/components/skeletons/NavBar.spec.js
Labels: enhancement, unit-test

#167 added responsive feeds page
  src/App.vue
  src/api-mock/mock/core-routes.js
  src/assets/css/main.scss
  src/components/login/Login.vue
  src/router/index.js
  src/views/Feeds/FeedsRevamp.vue
  src/views/Feeds/js/feeds-revamp.js
  tests/unit/specs/views/Feeds/FeedsRevamp.spec.js
Labels: enhancement, unit-test

#168 Feature/account page
  src/App.vue
  src/components/login/js/login.js
  src/config/index.js
  src/router/index.js
  src/views/Feeds/js/feeds-revamp.js
  src/views/User/Account.vue
  src/views/User/js/account.js
  tests/unit/specs/components/login/Login.spec.js
  tests/unit/specs/views/Feeds/FeedsRevamp.spec.js
  tests/unit/specs/views/User/Account.spec.js
Labels: enhancement, unit-test

#169 Feature/mobile nav bar
  src/App.vue
  src/components/skeletons/MobileNavBar.vue
  src/components/skeletons/js/mobile-nav-bar.js
  src/index.js
  tests/unit/specs/components/skeletons/MobileNavBar.spec.js
Labels: enhancement, unit-test

#176 Assignment Room List
  src/config/index.js
  src/views/Assignment/AssignmentRooms.vue
Labels: bug

#175 Quiz List Trials
  src/views/Quiz/StudentQuizList.vue
Labels: bug

#170 Scoring/implement api changes
  src/api/controller/assignment-rooms.js
  src/api/controller/assignments.js
  src/api/controller/student-quiz.js
  src/config/index.js
  src/views/Assignment/AssignmentRooms.vue
  src/views/Assignment/StudentAssignments.vue
  src/views/Assignment/js/assignment-room-detail.js
  src/views/Assignment/js/student-assignments.js
  src/views/Quiz/StudentQuizList.vue
  src/views/Quiz/js/quiz-questions.js
  src/views/Quiz/js/student-quiz-detail.js
  src/views/Quiz/js/student-quiz-list.js
  tests/unit/specs/api/controller/assignment-rooms.spec.js
  tests/unit/specs/api/controller/student-quiz.spec.js
  tests/unit/specs/views/Assignments/StudentAssignments.spec.js
  tests/unit/specs/views/Quiz/StudentQuizList.spec.js
Labels: enhancement, unit-test

#183 Feature/revamp scoring
  package.json
  public/index.html
  src/App.vue
  src/assets/css/main.scss
  src/components/editor/Editor.vue
  src/components/editor/Icon.vue
  src/components/editor/js/editor.js
  src/components/list/ListItem.vue
  src/components/list/js/list-item.js
  src/components/login/Login.vue
  src/config/index.js
  src/router/index.js
  src/store/modules/announcements.js
  src/store/modules/assignments.js
  src/store/modules/question-banks.js
  src/store/modules/quizzes.js
  src/store/modules/stickyNotes.js
  src/views/Announcements/AnnouncementForm.vue
  src/views/Announcements/Announcements.vue
  src/views/Announcements/js/announcement-form.js
  src/views/Announcements/js/announcements.js
  src/views/Feeds/FeedsRevamp.vue
  src/views/Scoring/LandingPageAdmin.vue
  src/views/Scoring/js/landing-page-admin.js
  src/views/StickyNotes/EditStickyNote.vue
  src/views/StickyNotes/StickyNotesDetail.vue
  src/views/StickyNotes/js/edit-sticky-note.js
  src/views/StickyNotes/js/sticky-notes-detail.js
  tests/unit/specs/store/modules/announcements.spec.js
  tests/unit/specs/store/modules/stickyNotes.spec.js
  tests/unit/specs/views/Announcements/AnnouncementForm.spec.js
  tests/unit/specs/views/Announcements/Announcements.spec.js
  tests/unit/specs/views/Scoring/LandingPageAdmin.spec.js
  tests/unit/specs/views/StickyNotes/StickyNotesDetail.spec.js
Labels: enhancement, unit-test
